body {
  color: #425054;
  font-size: 16px;
}

.navbar {
  z-index: 100;
  box-shadow: 0 0 1.2rem #00000021;
  background-color: #fff;
  height: 96px;
  padding: 0px 30px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(130deg,#ECA42C 41.07%,#1378b5 76.05%);
}

.navbar .navbar-brand {
  position: relative;
  width: 220px;
  height: 76px;
}

.navbar .navbar-brand img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.navbar .navbar-nav .nav-item {
  padding: 0px 10px;
}

.navbar .navbar-nav .nav-link {
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: .015em;
  cursor: pointer;
  color: #425054;
  font-size: inherit;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #ECA42C;
  /* color: #1378b5; */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler i {
  color: #ECA42C;
}

footer {
  background-color: #363e3f;
  padding: 60px 30px;
}

footer p {
  font-size: .813em;
  color: white;
}

footer h4 {
  color: white;
}

footer img {
  width: 100%;
  margin-bottom: 30px;
}

.home-hero-banner {
  background-size: cover;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../resources/images/hero-banner1.jpeg);
  margin-top: 96px;
  padding: 200px 0px;
}

.home-banner-header {
  background: linear-gradient(54deg,#ECA42C 40%,#1378b5 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38pt;
  line-height: 40pt;
  word-break: break-word;
}

.banner-item-bg {
  border-radius: 7px;
  width: 100%;
}

.home-banner-desc {
  color: white;
  font-size: 16px;
  margin: 40px 0px;
}

         
.primary-btn {
  background-image: linear-gradient(to right, #ECA42C 0%, #1378b5  51%, #ECA42C  100%);
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  font-size: .813em;
}

.primary-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.primary-color {
  color: #ECA42C;
}

.top-banner {
  background-size: cover;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../resources/images/hero-banner1.jpeg);
  margin-top: 96px;
  padding: 30px 0px;
}

.main {
  padding: 60px 0px;
}

.page-title {
  background: linear-gradient(54deg,#ECA42C 40%,#1378b5 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38pt;
  line-height: 40pt;
  word-break: break-word;
  text-align: center;
}

.gradient-border {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #ECA42C, #1378b5);
  padding: 3px;
}

.about-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-products img {
  width: 18%;
  border-radius: 10px;
  margin: 15px 0px;
}

.product-ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-ribbon img {
  width: 80%;
}

.product-card {
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 30px 0px;
}

.product-card img{
  width: 100%;
  height: 300px;
}

.product-card h3 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0px;
  color: white;
}

.fa-tag,
.fa-thumbtack {
  color: #ECA42C;
}

@media only screen and (max-width: 768px) {
  .navbar,
  .navbar .container-fluid {
    padding: 0px;
  }

  .navbar-collapse {
    background: white;
    z-index: 2;
  }

  .home-banner-header {
    margin-top: 40px;
    font-size: 40px;
  }

  .home-banner-desc {
    font-size: 16px;
  }

  .home-hero-banner {
    padding: 100px 0px;
  }

  .col-sm-12 {
    margin: 15px 0px;
  }

  .about-products {
    flex-direction: column-reverse;
  }

  .about-products img {
    width: 100%;
  }
}